<VirtualHost *:80>
	ServerName confluence.smtest.net

	ProxyRequests Off
#	ProxyPreserveHost On

	<Proxy *>
		Order deny,allow
		Allow from all
	</Proxy>

	ProxyPass          /       http://confluence:8090/
	ProxyPassReverse   /       http://confluence:8090/

	RequestHeader unset Authorization

	<Location />
		AuthType                Kerberos
		AuthName                "Kerberos Login"
		KrbMethodNegotiate      On
		KrbMethodK5Passwd       On
		KrbAuthRealms           SMTEST.NET
		KrbServiceName          HTTP/confluence.smtest.net
		Krb5KeyTab              /etc/apache2/vhost.d/confluence.smtest.net.keytab
		require                 valid-user

		RewriteEngine On
		RewriteCond %{REMOTE_USER} ^(.*)$
		RewriteRule ^(.*)$ - [E=R_U:%1]
		RequestHeader set REMOTE_USER %{R_U}e
	</Location>
</VirtualHost>